<div class="container">
    <h2 class="text-center"> Norwegian Association for UFO Observations </h2>
    <div>
        <div class="col-md-12" *ngIf="showTable">
            <!--ngif er en if setning som viser load post hvis det ikke er loadet inn enda-->
            <div *ngIf="loading">Loading posts.....</div>
            <input id="searchbar" placeholder="Search" (keyup)="searchArray()" />
            <table id="display" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <!--gjør det mulig å trykke på begge datavariablen i databasen-->
                        <th style="cursor: pointer;" (click)="sortByDatePosted()">Date Posted</th>
                        <th style="cursor: pointer;" (click)="sortByDateOccured()">Date Occured</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Shape</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead><!--ngfor er at den lopper gjennom all dataen i databasen, post of all post-->
                <tbody *ngFor="let post of allPosts">
                    <tr>
                        <!--under er all dataen i en tabel-->
                        <td>{{post.datePosted}}</td>
                        <td>{{post.dateOccured}}</td>
                        <td>{{post.country}}</td>
                        <td>{{post.city}}</td>
                        <td>{{post.address}}</td>
                        <td>{{post.shape}}</td>
                        <!--knappene for delete edit og detaljer -->
                        <td><button class="btn btn-danger" (click)="deletePost(post.id)">Delete</button></td>
                        <td><button class="btn btn-success" (click)="editPost(post.id)">Edit</button></td>
                        <td><button class="btn btn-primary" (click)="postDetails(post.id)">Details</button></td>
                    </tr>
                </tbody>
            </table><!--new post knapp og logout knapp-->
            <button class='btn btn-primary' (click)='registerPost()'>New Post</button>
            <div style="350px" align="right"><button class="btn btn-info pull-right" routerLink="/login">Logout</button></div>
        </div>
        <!--en ny if som enten ikke viser showdetalier eller viser det, som vil skje når man trykker detlajeknappen og alt i ts, controller rep osv funker -->
        <div class="col-md-12" *ngIf="showDetails">
            <div *ngIf="loading">Loading post.....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Date Posted</th>
                        <th>Date Occured</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Shape</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{singlePost.datePosted}}</td>
                        <td>{{singlePost.dateOccured}}</td>
                        <td>{{singlePost.country}}</td>
                        <td>{{singlePost.city}}</td>
                        <td>{{singlePost.address}}</td>
                        <td>{{singlePost.shape}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Summary</th>
                </tr>
                <tr>
                    <td>{{singlePost.summary}}</td>
                </tr>
            </table>
            <button class="btn btn-danger" (click)="deletePost(singlePost.id)">Delete</button>
            <button class="btn btn-success" (click)="editPost(singlePost.id)">Edit</button>
            <button class="btn btn-primary" (click)="backToList()">Back</button>
        </div>
    </div>
</div>

<div class="container">
    <!--denne er både for registering av ny post eller redigering av tidligere post-->
    <div class="col-md-4" *ngIf="showSchemaRegister || showSchemaEdit">
        <form [formGroup]="schemaRegister" (ngSubmit)="onSubmit()">
            <input class="form-control" formControlName="id" type="hidden" />
            <div class="form-group">
                <label>Date Occured</label>
                <input type="datetime-local" class="form-control" formControlName="dateOccured" />
            </div>
            <div class="form-group">
                <label>Country</label><!--dette er for alle variablen som skal legges inn eller redigers de neste nedover også-->
                <input class="form-control" formControlName="country" />
                <p class="alert alert-warning" [hidden]="schemaRegister.controls.country.valid || (schemaRegister.controls.country.pristine && !submitted)">
                    Please fill out country
                </p>
            </div>
            <div class="form-group">
                <label>City</label>
                <input class="form-control" formControlName="city" />
                <p class="alert alert-warning" [hidden]="schemaRegister.controls.city.valid || (schemaRegister.controls.city.pristine && !submitted)">
                    Please fill out city
                </p>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input class="form-control" formControlName="address" />
                <p class="alert alert-warning" [hidden]="schemaRegister.controls.address.valid || (schemaRegister.controls.address.pristine && !submitted)">
                    Please fill out address
                </p>
            </div>
            <div class="form-group">
                <label>Shape</label>
                <input class="form-control" formControlName="shape" />
                <p class="alert alert-warning" [hidden]="schemaRegister.controls.shape.valid || (schemaRegister.controls.shape.pristine && !submitted)">
                    Please fill out shape
                </p>
            </div>
            <div class="form-group">
                <label>Summary</label>
                <input class="form-control" formControlName="summary" />
                <p class="alert alert-warning" [hidden]="schemaRegister.controls.summary.valid || (schemaRegister.controls.summary.pristine && !submitted)">
                    Please fill out summary
                </p>
            </div>
            <div class="form-group">
                <!--her er det to knapper hvor disabled blir avgjort av om det er registering eller edit-->
                <button type="submit" *ngIf="showSchemaRegister" [disabled]="!schemaRegister.valid" class="btn btn-success">Post</button>
                <button type="submit" *ngIf="showSchemaEdit" [disabled]="!schemaRegister.valid" class="btn btn-primary">Edit</button>
                <button class="btn btn-primary" (click)="backToList()">Back</button>
            </div>
        </form>
    </div>
</div>

